<a href="https://colab.research.google.com/github/asepmuhidin/research/blob/master/python_basic_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print('Selamat malam')

Selamat malam

In [2]:
#perintah output dengan format
nama='Bima'
umur=20
print('nama {} umur {}'. format(nama,umur))

nama Bima umur 20

In [3]:
#perintah output dengan f print
nama='Bima'
umur=20
print(f'nama {nama} umur {umur}')

nama Bima umur 20

In [6]:
#perintah output dengan format angka
nama='Bima'
nilai=87.5868
print(f'nama {nama} nilai {nilai:.2f}')

nama Bima nilai 87.59

In [8]:
nama='Bima'
nilai=98.8765
grade='A'
print(f'nama mahasiswa {nama} dengan nilai angka {nilai:.1f}, dan nilai hurup adalah {grade}')
#output yg diharapkan
# nama mahsiswa bima dengan nilai angka 98.9, dan nilai hurup adalah A

nama mahasiswa Bima dengan nilai angka 98.9, dan nilai hurup adalah A

In [11]:
nama=input('Nama Mahasiswa ?')
nilai=input('Nilai Mahasiswa ?')
grade=input('Nilai hurup Mahasiswa ?')
print(f'nama mahasiswa {nama} dengan nilai angka {float(nilai):.1f}, dan nilai hurup adalah {grade}')

Nama Mahasiswa ?irfan
Nilai Mahasiswa ?98.8776
Nilai hurup Mahasiswa ?A
nama mahasiswa irfan dengan nilai angka 98.9, dan nilai hurup adalah A

In [12]:
#perintah pengisian beberapa variabel sekaligus
nama,nilai='Bima',87.5868
print(f'nama {nama} nilai {nilai:.2f}')

nama Bima nilai 87.59

In [16]:
#if dengan 2 kondisi 
nama,nilai='Bima',37.5868

if nilai>=50:
  ket='Lulus'
else:
  ket='Tidak Lulus'   
print(f'nama {nama} nilai {nilai:.2f}, keterangan : {ket}')

nama Bima nilai 37.59, keterangan : Tidak Lulus

In [18]:
#if dengan lebih dari 2 kondisi 
nama,nilai='Bima',77.5868

if nilai>=85:
  ket='A'
elif nilai>=70:
  ket='B'
elif nilai>=50:
  ket='C'
elif nilai>=40:
  ket='D'
else:
  ket='E'

print(f'nama {nama} nilai {nilai:.2f}, keterangan : {ket}')

nama Bima nilai 77.59, keterangan : B

In [24]:
#loop 
for i in range(10):
  print(i, end=',')

print('\n')
#loop custom range(start,end,step), default step=1  
for i in range(2,10):
  print(i, end=',')

print('\n')
#loop custom range(start,end,step)  
for i in range(2,20,2):
  print(i, end=',')

0,1,2,3,4,5,6,7,8,9,

2,3,4,5,6,7,8,9,

2,4,6,8,10,12,14,16,18,

In [36]:
#list
print('===AKSES ITEM LIST======')
names=['dicky','fridolin','niko','rahmadi']
print(f'nama {names[1]}')
print('=======SLICING LIST===========')
#Slicing
print(f'nama {names[:3]}') #menampilkan data list dari index awal sampai index 3 exlusive
print(f'nama {names[1:]}') #menampilkan data index1 sampai index akhir
print(f'nama {names[1:3]}') #menampilkan data list dari index 1 sampai index 3 exlusive
print('=========LOOP MANUAL===========')
#Menampilkan semua item list secara manual
for i in range(len(names)):
  print(names[i])
print('=========LOOP LIST===========')
#Menampilkan semua item list
for name in (names):
  print(name)

===AKSES ITEM LIST======
nama fridolin
=======SLICING LIST===========
nama ['dicky', 'fridolin', 'niko']
nama ['fridolin', 'niko', 'rahmadi']
nama ['fridolin', 'niko']
=========LOOP MANUAL===========
dicky
fridolin
niko
rahmadi
=========LOOP LIST===========
dicky
fridolin
niko
rahmadi

In [37]:
#dict : {key1:value1,key2:value,key-n:value-n, }
data_niko={'nama':'Niko','nilai':98,'umur':20}
print(f"Nama {data_niko['nama']}, nilai {data_niko['nilai']} , umur {data_niko['umur']}")

Nama Niko, nilai 98 , umur 20